/* 
 Name: Emily Gaber
 File: MiS3371Stylesheet.css
 Date Created: 6/17/2026
 Date Updated: 6/27/2026
 Purpose: Style sheet for my MIS 3371 website
 */
 
body { 
  border-radius: 8px;
    line-height: 1.8;
    background-color:#330066;
    font-family: Garamond;
    color: #BF6CE2;
    margin-left: 50px;
    margin-right: 50px;
}  
input{
  background-color:#303030dd;
  color:#e5caf0;
} 
.header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 25px;
  font-family:Garamond;
  background-color:#200140;
  padding: 30px;
  border-spacing: 20px;
  color:#b455dc;
  text-align: center;
}
 h1 {
    line-height: 1.8;
    text-align: center;
    font-family: Georgia ;
    font-weight: normal;
    color: #d3a308;
    margin: auto
}
tbody { 
  border-radius: 8px;
   width: 100%;
    background-color:#111111;
}

table.form{
  border-radius: 8px;
  font-size: 17px;
  line-height: 1.2;
  font-family: Garamond;
  background-color:#111111;
  color:#e5caf0;
  width: 100%;
  
}
tr.form, td.form {
  line-height: 1.4;
  font-family: Garamond;
  background-color:#111111;
  padding: 5px;
  color:#e5caf0;
  margin: auto;
  display: flex; 
  border-spacing: 15px;
  text-align: left;
  margin-left: 7%;
}
th.form {
  width: 87.5%;
  font-size: 26px;
  font-family:Georgia ;
  background-color:#200140;
  color:#b455dc;
  position: fixed;
  top: 0;
  padding: 25px;
  border-radius: 8px;
}
#slider-value{
margin-left: 75px;
}
tr.valid, td.valid {
  font-family: Garamond;
  background-color:#111111;
  padding: 20px;
  border-spacing: 03px;
  color:#e5caf0;
  text-align: center;
  margin-left: 100px;
}
div.Thankform, tr.Thankform, td.Thankform {
  line-height: 1.8;
  width: 60%;
  font-size: 25px;
  
  font-family: Garamond;
  background-color:#111111;
  padding: 10px;
  border-spacing: 00px;
  color:#BF6CE2;
  margin: auto
}
th.returndata{
  font-size: 25px;
  width:55%;
}
tbody.returndata, tr.returndata, td.returndata{
  line-height: 1.8;
  width:55%;
  font-family: Garamond;
  background-color:#111111;
  padding: 10px;
  border-spacing: 03px;
  color: #BF6CE2;
  text-align: center;

}
div.blankspace{
  width: 300px;
  border: 15px solid rgba(0, 128, 0, 0);
  padding: 50px;
  margin: 20px;
}
footer, p.footer{
   line-height: 1.8;
  font-family: Garamond;
  background-color:#111111;
  padding: 10px;
  color: #BF6CE2;
  text-align: center;
  position: fixed;
  width: 90%;
  bottom: 0;  
}

iframe {
  width: 100%;
  height: 800px;
  border: none;
}
/*CREDIT TO W3SCHOOLS!!!! I have edited to fit my own code*/
#Passwordmessage {
  display:none;
  background: #420182;
  color: #ce81ec;
  position: relative;
  text-align: right;
  padding: 20px;
  margin-top: 10px;
}
#Passwordmessage p {
  font-size: 16px;
}
/*credit w3schools*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
#Submit,#Review,#Reset{
  color: #e5caf0;
  border-radius: 8px;
  background-color: #310161;
}
/* bar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #5102a0;;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7007da;
  border-radius: 10px;
}
